html,
body {
  width: 300px;
  height: 400px;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  justify-content: center;
  background-color: rgb(36, 36, 36);
}

h1 {
  font-size: 26px;
  color: white;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin: 0;
}

div, #content {
  display: flex;
  height:100%;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

#norecord {
  opacity: 0.8;
}

#word {
  font-size: 20px;
  color: white;
  font-weight: bold;
  opacity: 0.8;
  margin: 0;
}

p {
  color: white;
  opacity: 0.3;
  margin: 0;
}